@import "tailwindcss";
@import url('fonts.googleapis.com');


body {
  @apply font-sans;
}



.scrollHide {
  scrollbar-width: none
}

.h-fill-available {
  height: -webkit-fill-available;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}